@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scrollbar-width: thin;
		scrollbar-color: #fbd9b9 #fefefe;
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
	body {
		font-family: 'Poppins', sans-serif;
		max-width: 1536px;
		margin: 0 auto;
		overflow-x: hidden;
		scroll-behavior: smooth;
	}
}

/* Header CSS */
header {
	@apply flex justify-between items-center my-8 mx-4 lg:mx-[30px] py-[14px] px-6 lg:px-10 bg-gray2 h-[90px] rounded-[70px] relative;
}

.logo {
	@apply w-[150px] h-[90px] flex justify-center items-center;
}

.navbar {
	@apply hidden lg:flex justify-center items-center h-[60px] rounded-[40px] bg-white2 px-[20px] py-[22px];
}

.navbar ul {
	@apply flex items-center gap-[35px];
}

.navbar ul li {
	@apply text-gray text-base font-normal leading-[120%];
}

.header__btn {
	@apply hidden lg:inline-flex justify-center items-center gap-[10px] h-[50px] px-[15px] py-[10px] rounded-[40px] border border-offwhite bg-white2 text-gray text-base font-normal leading-[120%];
}

.menu__btn {
	@apply text-xl text-gray inline-flex lg:hidden;
}

.mobile__menu {
	@apply top-full left-0 w-full bg-white2/80 backdrop-blur-md absolute flex flex-col justify-center items-center gap-4 rounded-[40px] overflow-hidden h-0;
	z-index: -1;
	transition: all 0.5s ease-in-out;
	animation: showMenu 0.5s ease-in-out;
}

.mobile__menu.show {
	@apply h-[320px] py-6;
	z-index: 999;
}

.mobile__nav ul {
	@apply flex flex-col items-center gap-4;
}

.mobile__menu--btn {
	@apply inline-flex justify-center items-center gap-[10px] h-[50px] px-[15px] py-[10px] rounded-[40px] border border-offwhite bg-white2 text-gray text-base font-normal leading-[120%];
}

/* Hero Area */
.home__area {
	background: linear-gradient(90deg, #c1dee8 0%, #fbd9b9 100%);
	@apply flex flex-col-reverse lg:flex-row lg:justify-between rounded-[15px] mx-[30px];
}

.hero__content {
	@apply lg:w-[40%] pt-[30px] pb-[30px] lg:pt-[50px] xl:pt-[90px] pl-[45px] pr-6 lg:pr-0;
}

.hero__subtitle {
	@apply text-black text-base font-normal leading-[120%];
}

.hero__title {
	@apply text-black text-[30px] lg:text-[40px] xl:text-[67px] font-semibold leading-[120%] mt-[15px];
}

.hero__desc {
	@apply text-black text-base font-normal leading-[150%] mt-[25px];
}

.input__group {
	@apply w-[300] lg:w-[360px] xl:w-[440px] relative mt-[24px];
}

.input__group input {
	@apply w-full h-[40px] lg:h-[60px] rounded-[40px] bg-white2 relative pl-4 lg:pl-[24px];
}

.quote__btn {
	@apply absolute right-0 w-[100px] lg:w-[150px] h-full rounded-[40px] bg-gray text-white2 text-sm font-normal lg:text-base lg:font-semibold leading-[150%];
}
.hero__image {
	@apply pl-8 lg:w-[50%] lg:h-[100%] xl:w-auto xl:h-auto lg:-mb-12 flex justify-end;
}

/* Process Area */
.process__header--config {
	@apply flex flex-col justify-between items-center gap-4 my-8 mx-4 lg:mx-[30px] pt-[80px];
}

.process__header--subtitle {
	@apply text-black text-base font-normal leading-[120%];
}

.process__header--title {
	@apply text-black text-[30px] lg:text-[40px] xl:text-[50px] font-semibold leading-[120%] capitalize;
}

.process {
	@apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 my-8 mx-4 lg:mx-[60px] mt-[45px];
}

.process__box {
	@apply flex flex-col justify-start items-start gap-4 rounded-[40px] px-[30px] py-[30px] lg:px-[40px] lg:py-[40px];
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.process img {
	@apply size-[65px];
}

.process__title {
	@apply text-black text-[28px] font-semibold leading-[120%] capitalize;
}

.process__desc {
	@apply text-black text-base font-normal leading-[120%];
}

/* Projects Area */
.project__area {
	@apply my-8 mx-4 lg:mx-[30px] pt-[80px];
}

.project__header--config {
	@apply flex justify-between items-center relative;
}

.projects__slider--navigation {
	position: absolute;
	right: 0;
	top: 30px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	right: 70px !important;
	left: auto !important;
}

.swiper-button-next,
.swiper-button-prev {
	@apply size-[30px] lg:size-[45px] text-white rounded-full bg-black !important;
	filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.09))
		drop-shadow(0px 11px 7px rgba(0, 0, 0, 0.05)) drop-shadow(0px 20px 8px rgba(0, 0, 0, 0.01))
		drop-shadow(0px 31px 9px rgba(0, 0, 0, 0));
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 20px !important;
	@apply text-sm lg:text-[20px] !important;
}

.project__header--subtitle {
	@apply text-black text-base font-normal leading-[120%];
}

.project__header--title {
	@apply text-black text-[30px] lg:text-[40px] xl:text-[50px] font-semibold leading-[120%] capitalize;
}

.projects {
	@apply mt-[45px];
}

.project__card1,
.project__card2,
.project__card3 {
	@apply h-[440px] rounded-[14px] border border-offwhite/45 bg-white2;
}

.project__img {
	@apply w-full h-[265px] rounded-tl-[14px] rounded-tr-[14px] object-cover;
}

.project__card--content {
	@apply pt-[24px] pl-[24px] pb-[24px] flex justify-start items-start flex-col gap-[18px];
}

.project__card--title {
	@apply text-base text-[21px] font-semibold leading-[120%] capitalize;
}

.project__card--desc {
	@apply text-base text-[16px] font-normal leading-[150%];
}

.ratings i {
	@apply text-[16.8px] h-[17.32px] text-[#F59914];
}

.ratings i:nth-child(5) {
	@apply text-[#9B9B9B];
}

/* About Area */
.about__area {
	@apply my-8 mx-4 lg:mx-[30px] xl:mx-[100px] pt-[100px];
}

.about__hedaer--config {
	@apply max-w-[785px] mx-auto;
}

.about__header--title {
	@apply text-black text-center text-[30px] lg:text-[40px] xl:text-[50px] font-semibold leading-[120%] capitalize;
}

.about__content--area {
	@apply flex flex-col-reverse lg:flex-row lg:justify-between mt-[45px];
}

.about__content {
	@apply w-full max-w-[520px] mt-[34px];
}

.about__content--title {
	@apply text-black text-[38px] font-semibold leading-[120%] capitalize;
}

.about__content--desc {
	@apply text-black text-base font-normal leading-[150%] mt-[24px];
}

.button__group {
	@apply flex justify-start items-start gap-[24px] mt-[45px];
}

.book__btn {
	@apply inline-flex justify-center items-center gap-[10px] h-[50px] px-[15px] py-[10px] rounded-[40px] bg-gray text-white2 text-base font-normal leading-[120%];
}

.learn__btn {
	@apply inline-flex justify-center items-center gap-[10px] h-[50px] px-[15px] py-[10px] rounded-[40px] border border-offwhite bg-white2 text-gray text-base font-normal leading-[120%];
}

.about__img {
	@apply w-full max-w-[550px] relative;
}

.about__img::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		116deg,
		rgba(193, 222, 232, 0.7) 9.86%,
		rgba(255, 255, 255, 0) 52.13%,
		rgba(251, 217, 185, 0.7) 97.99%
	);
	border-radius: 14px;
}

.counter {
	@apply flex justify-center items-center lg:justify-start lg:items-start flex-wrap gap-[30px] mx-auto mt-[60px];
}

.customers__count,
.projects__count,
.agents__count {
	@apply flex flex-col;
}

.customer__value,
.projects__value,
.agents__value {
	@apply text-black text-[67px] font-semibold leading-[120%];
}

.counter__title {
	@apply text-black text-base font-normal leading-[120%];
}

.about__img img {
	border-radius: 14px;
}

/* Newsletter Area */
.newsletter__area {
	@apply h-full lg:h-[460px] flex flex-col-reverse lg:flex-row justify-between items-center my-8 mx-4 lg:mx-[30px] mt-[100px] rounded-[15px];
	background: url('../assets/images/hero.png'), linear-gradient(90deg, #c1dee8 0%, #fbd9b9 100%);
}

.newletter__content {
	@apply w-full lg:w-[45%] pt-[30px] pb-[30px] lg:pt-[50px] xl:pt-[90px] pl-[45px] pr-6 lg:pr-0;
}

.newsletter__title {
	@apply text-black text-[30px] lg:text-[40px] xl:text-[50px] font-semibold leading-[120%] mt-[15px];
}

.newsletter__desc {
	@apply text-black text-base font-normal leading-[150%] mt-[18px];
}

.newletter__image {
	@apply w-full lg:w-[606px] h-[557px];
}

.newletter__image img {
	@apply h-full w-full object-cover;
}

/* Footer Area */

footer {
	@apply flex justify-between items-center my-8 mx-4 lg:mx-[30px] py-[14px] px-6 lg:px-10 bg-gray2 rounded-[20px] relative;
}

.footer__area {
	@apply max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8;
}

.footer__nav {
	@apply flex flex-wrap justify-center -mx-5 -my-2;
}

.footer__nav--list {
	@apply px-5 py-2;
}

.footer__nav--link {
	@apply text-base leading-6 text-gray;
}

.footer__social--list {
	@apply flex justify-center mt-8 space-x-6;
}

.footer__social--link {
	@apply text-gray;
}

.footer__social--link i {
	@apply text-2xl;
}
